parameters:
    level: 8

    scanDirectories:
        - %currentWorkingDirectory%/database
        - %currentWorkingDirectory%/modules
        - %currentWorkingDirectory%/tests

    paths:
        - database
        - modules
        - tests
